<div class="container">
  <div class="col-md-4 col-sm-6 ml-auto mr-auto">
    
        
      
        <div class="card-header">
          <h3 class="header text-center">Dashboard</h3>
        </div>
        
        <div class="card-body">
         
          
        </div>
        <div class="card-footer ml-auto mr-auto text-center">
          <button type="submit" class="btn btn-warning btn-wd" (click)="check()">
            Request
          </button>
          <p class="text-danger">{{message}}</p>
        </div>
        
    


  </div>

  
</div>